In [17]:
import pandas
def get_sql(sql, connector):
    """Return pandas DataFrame."""
    cur = connector.cursor()
    cur.execute(sql)
    return pandas.DataFrame(cur.fetchall(), columns=[c[0] for c in cur.description])

In [18]:
import os
import trino
TRINO_USERNAME = os.environ.get('TRINO_USERNAME')
TRINO_HOSTNAME = os.environ.get('TRINO_HOSTNAME')
TRINO_PORT     = os.environ.get('TRINO_PORT')
conn = trino.dbapi.connect(
    host=TRINO_HOSTNAME,
    port=TRINO_PORT,
    user=TRINO_USERNAME
)

In [19]:
# query 1
sql = 'SHOW CATALOGS'
df = get_sql(sql, conn)
print(df['Catalog'].values)

# query 2
sql = 'SHOW SCHEMAS from tpch'
df = get_sql(sql, conn)
print(df['Schema'].values)

# query 3
sql = 'SHOW TABLES FROM tpch.sf1'
df = get_sql(sql, conn)
print(df['Table'].values)

# query 4
sql = 'SELECT * FROM tpch.sf1.customer limit 3'
df = get_sql(sql, conn)
print(df['name'].values)

['system' 'tpch']
['information_schema' 'sf1' 'sf100' 'sf1000' 'sf10000' 'sf100000' 'sf300'
 'sf3000' 'sf30000' 'tiny']
['customer' 'lineitem' 'nation' 'orders' 'part' 'partsupp' 'region'
 'supplier']
['Customer#000056251' 'Customer#000056252' 'Customer#000056253']